{% from "_macro.html" import head %}
{% from "_macro.html" import header %}
{% from "_macro.html" import navigation %}
{% from "_macro.html" import content %}
{% from "_macro.html" import footer %}
<!DOCTYPE html>
<html>
    {{ head() }}
<body>
    <div class="main">   
        {{ header(u_login) }}
        <div class="nav_content">
            {{ navigation(nav) }}         
            {{ content(products) }}
        </div>
        <div id="outbox-shadow">         
            {{ footer() }}
        </div>
    </div>
</body>
</html>
