{% extends 'base.html' %}


{% block content %}
    <content>
        <h2> Введите Ваш логин и пароль!</h2>
        <form name="login_form" action="/login/" method="POST">
            <div class="registration_group">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login_field">
            </div>
            <div class="registration_group">
                <label for="pass">Password:</label>
                <input type="password" id="pass" name="password_field">
            </div>
            <div class="registration_group">
                <div class="msg_visible" id="error" name="error">{{error}}</div>
                <center><button id="send_form" name="send_form" disabled="true">Отправить</button></center>                
            </div>           
        </form>
    </content>
{% endblock %}
