{% extends 'base.html' %}


{% block content %}
    <content>
        <h3>Товары в корзине, {{ user.login }}.</h3><br>
        <p>Для заказа данных товаров жмите "Оформить заказ!" и наш менеджер свяжется с Вами!</p>
        <div class="my-flex-container">
            {% for item in items %}
                <div class="item">
                    <img src="{{ item.image }}" alt="{{ item.name }}"><p>{{ item.link }}</p><br>
                    <div class="price-action">
                        <!--<div class="price-elem">price</div>
                        <div class="price-elem">count</div>-->
                        <button class="btn-buy" id="remove_position_{{ item.product_id }}" onclick="removeFromCart({{ user.user_id }}, {{ item.product_id }}, 1)">Удалить!</button>
                    </div>                          
                </div>
            {% endfor %}
        </div>
    </content>  
{% endblock %}