html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
}

body {
    background-color: #5F9EA0;
    color: #ffffff;
    text-shadow: 1px 2px 3px #000;
    font-family: "garamond";
}

.main {
    height: 100%;
    width: 55%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin: 0 auto;
}

header {
    flex: 0;    
    height: 200px;
    font-size: 25px;
    text-align: center;
    background-image: url(header2.jpg);
    text-transform: uppercase;
    text-shadow: 4px 5px 6px #000;
    box-shadow: 20px 0px 10px 0px rgba(0,0,0,0.75);
}

header a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}

header h2 {
    margin: 15px;
}

.nav_content {
    flex: 1;
    display: flex;
    box-shadow: 20px 0px 10px 0px rgba(0,0,0,0.75);    
}

nav {
    padding: 10px;
    width: 300px;
    flex: 1;
    text-transform: uppercase;
    background-color: #2F4F4F;
    box-shadow: inset 10px 0px 10px 10px rgba(0,0,0,0.75);
}

.menu {
    list-style-type: none;
    padding-left: 5px;
    margin-left: 5px;
   
}

.menu a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 20px;
    padding: 10px;
}

content {
    flex: 3;
    text-align: center;
    padding: 20px;
    background-color: #5F9EA0;
    box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,1);
}

content h2 {
    padding: 8px;
    margin: 20px;
}

content h3 {
    margin: 10px;
}

.my-flex-container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    text-align: center;
}

.my-flex-block {
    width: 250px;
    height: 250px;
    padding: 5px;
}

.my-flex-block a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    flex: 0;
    padding: 15px;
    text-align: center;
    background: #2F4F4F;
    box-shadow: inset 10px 0px 10px 10px rgba(0,0,0,0.75);
}

#outbox-shadow {
    box-shadow: 20px 0px 10px 0px rgba(0,0,0,0.75); 
}

.item {
    width: 500px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.85);
}

.item img {
    margin-right: 8px;
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.item p {
    text-align: left;
    margin: 5px;
}

.registration h1 {
    margin:auto;
    cursor: help;
    text-align: center;
}

.registration form {
    text-align: left;
    margin: 0 auto;
    width: 450px;
    height: 600px;
    padding: 15px;
}

.registration_group {
    margin: 5px;
    padding: 2px;
}

label {
    padding-left: : 10px;
    text-transform: uppercase;
}

input {
    margin-top: 5px;
    height: 20px;
    width: 400px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82)   
}

input:focus {
    border: 2px solid black;
}

button {
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.85);
}

.msg_visible {
    color: red;
    margin: 5px;
    padding: 2px;
    font-size: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.msg_non_visible {
    display: none;
}

#back_to_home {
    background-color: white;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.85);

}

.login-href {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 14px;
    padding: 5px 20px;
    text-transform: none;
}

.price-action {
    font: 16px garamond;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;
    margin: 5px;
    text-align: center;
}

.price-elem {
    margin: 0 10px;
}

.shopping-cart {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
}

.login-elem {
    margin: 0 10px;
}

.cart-counter {
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.85);
}

.btn-buy {
    font: 16px garamond;
    width:  60px;
    height: 22px;
    margin: 0 10px; 
    padding: 3px;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.btn-rm {
    margin: 0;
    font: 16px garamond;
    width:  70px;
    height: 22px; 
    padding: 3px;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.price-action span {
    cursor: pointer;
}

.number {
    height: 20px;
    margin: 0 5px;
    display: inline-flex;

}

.minus, .plus {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
}

.price-action input {
    padding: 0;
    margin: 0 4px;
    height:20px;
    width: 30px;
    text-align: center;
    border:1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
}

.action-del {
    font: 16px garamond;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 10px;
    color: black;
    text-align: center;
}


#toTop {
    width:35px;
    height: 35px;
    border: 1.5px solid black;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px; /* отступ кнопки от нижнего края страницы*/
    right: 250px;
    cursor: n-resize;
    display: none;
    color: black;
    font-weight: bold;
    font-family: garamond;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.85);
}





