{% macro head() %}
	<head>
	    <title>Онлайн магазин спортивного питания "Trauma"</title>
	    <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	</head>
{% endmacro %}

{% macro header() %}
	<header><a href="/" alt="Домашняя страница"><h2>Добро пожаловать в интернет-магазин спортивного питания и фармакологии "trauma"!!!</h2></a></header>
{% endmacro %}

{% macro navigation(nav) %}
	<nav>
        <ul class="menu">
            {% for i in range(nav|length) %}                                    
                <li {% if i == nav.highlight %} style="font-weight: bolder;" {% endif %}><a href="{{nav.nav_items[i].link}}">{{nav.nav_items[i].name}}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% macro content(products) %}   
	<content><h3>На нашем сайте вы можете заказать качественное спортивное питание и фармакологию отличного качества.</h3><br>
        <div class="my-flex-container">
            {% for item in products  %}
                <div class="my-flex-block"><a href="{{item.link}}"><img src="{{item.image}}" alt="{{item.name}}"><br>{{item.name}}</a></div>
            {% endfor %}
        </div>
    </content>
{% endmacro %}

{% macro content_product(text,items) %}
    <content><h3>{{text}}</h3><br>
            <div class="my-flex-container">
                {% for item in items %}
                    <div class="item">
                        <img src="{{item.image}}" alt="{{item.name}}"><p>{{item.link}}</p>                            
                    </div>
                {% endfor %}
            </div>
    </content>
{% endmacro %}

{% macro content_certificates(text,items) %}
    <content><h3>{{text}}</h3><br>
        <div class="my-flex-container">
            {% for item in items %}
                <div class="my-block2"><img src="{{item.image}}" alt="{{item.name}}"><br>{{item.name}}</div>           
            {% endfor %}
        </div>
    </content> 
{% endmacro %}

{% macro footer() %}
	<footer>© Все права защищены<br>ОАО «Trauma»<br> Харьков  2019</footer>
{% endmacro %}